<menu id="MainMenu" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <menu-item id="mode_accel" label="@Strings.menu_mode_accel" />
    <menu-item id="mode_hr" label="@Strings.menu_mode_hr" />
    <menu-item id="mode_combined" label="@Strings.menu_mode_combined" />
</menu>
